*{
    margin: 0;
    padding: 0;
}

#navbarContainer{
    background-color: #818181!important;
}

#navbarNav{
    justify-content: flex-end;
}

.logo{
    width: 15vw;
}

.nav-item{
    background-color: aliceblue;
    border: 1px solid #606060;
    margin: 0 .5rem;
}

.titleContainer{
    width: 100vw;
    margin: 0;
}

.titleRow{
    width: 98.72vw;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background-color: #c7c7c7;
    border-bottom: 1px solid #606060;
    border-top: 1px solid #606060;
}


.arrowLeft{
    display: flex;
    justify-content: flex-start;
}

.title{
    display: flex;
    justify-content: center;
}

.arrowRight{
    display: flex;
    justify-content: flex-end;
}

.mainContainer{
    padding: 9vh 5vw;
}

.checkbox{
accent-color: black;
}

.searchInput{
    display: flex;
    justify-content: flex-end;
}

.searchInput input{
    width: 80%;
}

.searchButton{
    display: contents;
}

.mainContainerCardsRow{
    padding-top: 5vh;
}

.card{
    width: 20vw!important;
    height: 55vh;
}

.card img{
    height: 50%;
}

footer{
    background-color: #c7c7c7;
    border-bottom: 1px solid #606060;
    border-top: 1px solid #606060;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.socialIcons a {
    background-color: black;
    padding: 0 0.3rem 0.3rem;
    border-radius: 33px;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    text-align: center;
}

.socialIcon{
    color: white;
    margin-top: .5rem;
}