/*Normalización*/
*{
    margin: 0;
    padding: 0;
}

/*Header - Navbar*/

#navbarContainer{
    background-color: #59012A!important;
}

#navbarNav{
    justify-content: flex-end;
}

.navbar-toggler{
    background-color: #DF458D;
}

.logo{
    width: 15vw;
}

.nav-item{
    background-color: #DF458D;
    font-weight: 800;
    margin: 0 .5rem;
    border-radius: 1.2rem;
}

.nav-item a{
    color: #59012A!important;
}

.active{
    background-color:#591C38;
    border-radius: .9rem;
}

.titleContainer{
    width: 100vw;
    margin: 0;
}

.titleRow{
    width: 98.72vw;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    color: #D90368;
    background-color: #591C38;
    border-bottom: 1px solid #D90368;
    border-top: 1px solid #D90368;
}


.arrowLeft{
    display: flex;
    justify-content: flex-start;
}

.title{
    display: flex;
    justify-content: center;
}

.arrowRight{
    display: flex;
    justify-content: flex-end;
}

.arrowLeft a, .arrowRight a{
    text-decoration: none;
    color: #D90368;
    font-size: 2rem;
}

/*Main*/

main{
    background-color: #DF458D;
    margin: 0;
    display: flex;
    justify-content: center;
}

.mainContainer{
    padding: 9vh 5vw;
    background-color: #DF458D;
}

.checkbox{
accent-color: #591C38;
}

.category{
    color: #591C38;
    font-weight: 500;
}

.searchInput{
    display: flex;
    justify-content: flex-end;
}

.searchInput input{
    width: 80%;
    border: none;
    border-radius: .5rem;
    background-color: #59012a4d;
    color: #591C38;
    font-weight: 800;
    outline: 0;
}

.searchButton{
    display: contents;
}

/*Cards styles*/

.mainContainerCardsRow{
    padding-top: 5vh;
    width: 80vw;
    margin: auto;
    gap: 3rem;
}

.card{
    width: 20vw!important;
    height: 55vh;
    background-color: #59012A;
    color: #D90368;
}

.card img{
    width: 88%;
    height: 40%;
    margin: 1rem;
    box-shadow: -7px -7px 8px -4px rgba(0,0,0,0.58);
    -webkit-box-shadow: -7px -7px 8px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -7px -7px 8px -4px rgba(0,0,0,0.58);
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-btn{
    background-color: #DF458D;
    color: #59012A;
    font-weight: 800;
    border: 1px solid;
    border-radius: .5rem;
    box-shadow: -7px -7px 8px -4px rgba(0,0,0,0.58);
    -webkit-box-shadow: -7px -7px 8px -4px rgba(0,0,0,0.58);
    -moz-box-shadow: -7px -7px 8px -4px rgba(0,0,0,0.58);
}

/*Contact Section Styles*/

.mb-3{
    width: 100%;
}

.contactContainer{
    padding: 2vh 9vw;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactSubmit{
    background-color: #59012A;
    color: #DF458D;
    font-weight: 500;
    border: none;
    width: 80%;
    transition: .5s;
}

.contactSubmit:hover{
    background-color: #591C38;
    color:#DF458D;
    width: 100%;
}

/*Stats table*/

.statsContainer{
    display: flex;
    flex-direction: column;
    margin: 9vh 5vw;
    padding: 0;
    background-color:#D90368;
}

tbody, td, tfoot, th, thead, tr {
    border-color: #591C38;
    border-style: solid;
    border-width: 3px;
    background-color: #d7b1e1;
    height: 2rem;
    padding: 0 1rem;
}

th{
    background-color: #b695be;
}

/*Details*/

.detailsCard{
    width: 100%!important;
    justify-content: center;
}

.detailsCardContent{
    align-items: center;
}

small{
    color: #DF458D;
}

/*Footer Styles*/

footer{
    background-color: #591C38;
    border-bottom: 1px solid #A6024E;
    border-top: 1px solid #A6024E;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.socialIcons a {
    background-color: #D90368;
    padding: 0 0.3rem 0.3rem;
    border-radius: 33px;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    text-align: center;
}

.socialIcon{
    color: #59012A;
    margin-top: .5rem;
}

.footerSignature{
    color: #D90368;
}